.search {
  width: 800px;
  background: rgba(238,238,238,0.75);
  // opacity: 0.5;
  position: relative;
  bottom: 250px;
  margin: auto;
  padding: 30px 30px 10px 30px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);

  &__form {
    opacity: 1;
  }

  &__location {
    padding: 5px 10px;
    width: 600px;
    margin-right: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #aaa;
    margin-bottom: 20px
  }

  &__submit {
      padding: 12px 35px;
      color: $color-lighter-gray;
      background: rgb(82, 129, 218);
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
      transition: all 0.3s;
    }

    &__submit:hover {
      background: darken(rgb(82, 129, 218), 20%);
      transform: translateY(-3px);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)
    }

    &__advanced {
      label {
        margin-right: 10px;
      }
    }

    &__minPrice, &__maxPrice {
      width: 60px;
      height: 30px;
      margin-right: 20px;
      border-radius:4px;
      border: 1px solid #aaa;
      padding: 0 5px; 
    }

    &__bedrooms {
      width: 60px;
      height: 30px;
    }
  }