$purple-color: #41051b;
$color-light: #F8F8F8;

$color-lighter-gray: #eee;
$color-light-gray: #ccc;
$color-white: rgb(223, 208, 208);
$color-black: #000;
$color-dark-gray: #aaa;
$color-footer: #252525;

$color-medium-gray: rgb(209, 205, 205);